# 📌 Binance API Bağlantısı
binance-connector-python

# 📌 AI Modelleri için
tensorflow>=2.10
torch>=2.0.0
scikit-learn
xgboost
catboost
fastai
pandas
numpy

# 📌 Teknik Analiz için
ta
TA-Lib
statsmodels

# 📌 Reinforcement Learning için
stable-baselines3
gym>=0.26.2

# 📌 Haber Analizi için
vaderSentiment
transformers
newsapi-python

# 📌 WebSocket işlemleri
websocket-client
python-socketio

# 📌 API Bağlantıları
requests
ccxt

# 📌 Telegram Bot Entegrasyonu
python-telegram-bot

# 📌 Hata Yönetimi
traceback

# 📌 Grafikleme için
matplotlib
seaborn

# 📌 Monte Carlo Simülasyonu ve GARCH Modeli için
arch

# 📌 Kaggle GPU için
kaggle

# 📌 Ekstra Bağımlılıklar
pip
wheel
